*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{
    border: 5px solid coral;
}
img{
    height: 60px;
    display: block;
    margin: auto;
}
h3{
    margin: auto;
    width: 17%;
}
.vlogDiv{
    border: 2px dotted black;
    display: inline-block;
    width: 30%;
    padding: 20px;
}